
.field-login
{
	border: 1px solid #f9b122 !important;
}
.field-login:hover
{
	border: 1px solid #f9b122 !important;
}
.field-password
{
	border: 1px solid #f9b122 !important;
}
.field-password:hover
{
	border: 1px solid #f9b122 !important;
}

